[loggers]
keys=root,log01


[handlers]
keys=hand01,hand02


[formatters]
keys=form01


[logger_root]
level=NOTSET
handlers=hand01


[logger_parser]
level=DEBUG
handlers=hand02
propagate=2
qualname=compiler.parser


[logger_log01]
level=DEBUG
handlers=hand02
propagate=1
qualname=output


[handler_hand01]
class=StreamHandler
level=NOTSET
formatter=form01
args=(sys.stdout,)


[handler_hand02]
class=FileHandler
level=DEBUG
formatter=form01
args=('D:\\Dev_ibs\\education\\app\\files\\fastapiLog.log', 'a')


[formatter_form01]
format=[%(asctime)s] {%(filename)s: %(lineno)d} %(levelname)s | %(duration)d | %(method)s | %(url)s | %(status)s
datefmt=%Y-%m-%d %H:%M:%S
style=%
validate=True
defaults={'customfield': 'defaultvalue'}
class=logging.Formatter